<p onclick = "check()">Click me to Check for Valid Signature</p>
<script>
function check() {

	x = "<%=@post.signature%>";
	var public_key = prompt("Public Key", "");
		var x1 = bigInt(x).modPow(bigInt("3"),bigInt(public_key));	
		var x2 = x1.toString(16);
		var y2 = x2.substring(64);
		x2 = x2.substring(0,64);
		var r1 = bigInt(y2,16).xor(bigInt(SHA256(x2),16)).toString(16);
		var message = bigInt(x2,16).xor(bigInt(SHA256(r1),16)); 		
	if (message.toString(16) == "<%=@post.postkey%>")
			alert("Verified Entity");
		else
		alert("Unauthorised Verifier or Wrong Public Key");
		
	}
</script>
</html>
