<h1>New Student</h1>

Firstname : <input type="text" id = "fname"><br><br>
Lastname : <input type="text" id = "lname"><br><br>
Email : <input type="text" id = "email"><br><br>
School :
<select id = "school">
		<option value = 0 disabled selected>Choose One</option>
		<% @school.each do |sch| %>
			<option value = "<%=sch.id%>"><%= sch.name %></option>
		<%end%>
	</select>

<br>

<button onclick = "signin()">Submit</button><bR><br>

<%= link_to 'Back', students_path %>


<script>
	function signin()
	{
		var firstname = document.getElementById("fname").value;
		var lastname = document.getElementById("lname").value;
		var email = document.getElementById("email").value;
		var school = document.getElementById("school").value;
		if (!(firstname))
			alert ("Enter First Name");
		else if (!(lastname))
			alert ("Enter Last Name");
		else if (!(email))
			alert ("Enter Email");
		else if (school == 0)
			alert ("Choose one School");
		else
		{
			var key = cryptico.generateRSAKey(email + bigInt.randBetween("-1e100", "1e100").toString(10), 1024);
			alert("The Next Message will Display your Private Key. Please keep it safe otherwise you would not be able to log into the platform. There is no other way to recover the private key. Do not store it only on your computer. Make sure to keep backups.");
			alert("This is your Private Key: \n" + bigInt(key.d);
			var data = {firstname: firstname, lastname: lastname, email: email, school: school + "", keys: bigInt(key.n).toString()};
			$.ajax({
            		url: '/students',
            		type: 'POST',
					data: data,
					async: false,
					});
		}
	}
</script>
