Username: <input type="text" id="user" value="Username">
<button onclick = "check()">Submit</button>
<bR>
<script>
	function check() {
	
		var user = document.getElementById("user").value;
		
		$.ajax({
		
			url: '/send_login_token',
			type: 'POST',
			dataType: 'text',
			data: {email: user, type: "2"}
			
			});
			confirm("Please Paste the Link (sent to your email) in the browser to login ");
		}
</script>	

